/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 févr. 2018, 22:35:59
    Author     : hp
*/
    body {
         background-color: #001b3f;
         margin:0 auto;
        text-align: right;
        font-size: 20px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }
        
    #wrap {
        width: 1100px;
        margin: 15px;
    }
        
    #parc {
        margin-top: 40px;
        float: left;
        width: 230px;
        height: 450px;
        position: fixed;
        border: 1px solid #ccc;
        background: #edfcff;
        -webkit-border-radius:10px;
        -o-border-radius:4px;
    } 

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 230px;
        height: 100%; /* Full height */
     /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }  

    li a{
        text-align: center;
        padding: 10px;
        height: 30px;
        display: block;
        text-decoration: none;
        color: #355C76;
        border-top: 1px solid #355C76;

    }
    li a:hover {
    background-color: #355C76;
    height: 30px;
    color: white;

}
    li a.active {
    background-color: #355C76;
    color: white;
}
table{
    width: 100%;
    background-color: #edfcff; 
    margin-top: 40px;
    color: #355C76;
}
table{
    text-align: center;
}
table th{
        /*color: #355C76;*/
        padding-left:65px;
        padding-right:65px;
        height: 50px;
        border-right:2px solid #355C76;        
}
table  td{
      /* border-bottom: 1px solid ;*/
  
         padding :  5px ;
     /* border:1px solid yellow;*/
}
table tr:hover{
    color: white;
    background-color: #355C76;

    
}
.nohover:hover{
    background-color: #edfcff;
    color: #355C76;
    }
th:last-child{
    border-right :transparent;
}
h3{
    color: #021959;
     text-align : center;
}